In [1]:
import pandas as pd
import json
import os

In [2]:
filenames = [os.path.join('output', '1119', dir) for dir in os.listdir(os.path.join('output', '1119')) if dir.endswith('.json')]
filename = filenames[13]
print(filename)

file = open(filename, 'r', encoding='utf8')
comparables = json.loads(file.read())

for comparable in comparables:
    for key in comparable['Keywords'].keys():
        comparable[key]= comparable['Keywords'][key]
        
df = pd.DataFrame(comparables)
df_show = df.drop('order_list', axis=1)
df_show = df_show.drop('Keywords', axis=1)
def deletezeroscolumn(df):
    for column in df.columns:
        if (df[column] == 0).all():
            df.drop(column, axis=1, inplace=True)
    return df
df_show = deletezeroscolumn(df_show)
# print(df_show.columns)

showing_columns = ['name', 'score', 'document_length']
keywords = [keyword for keyword in df_show.columns if keyword not in showing_columns]
showing_columns.extend(keywords)
df_show[showing_columns]

output\1119\富樂_黏著劑_銷貨(H.B.Fuller Company)201711190752.json

,name,score,document_length,acetate,adhesive,emulsion,ethylene,polyethylene
0,KSS Line Ltd,0.462686,3568,2,0,0,10,0
1,I M Skaugen Se,0.420727,3487,0,0,0,10,0
2,Sloman Neptun Schiffahrts AG,0.287359,1166,0,0,0,4,0
3,Navigator Holdings Ltd,0.250919,6930,0,0,0,42,1
4,Discovery Air Inc.,0.175439,5979,0,4,0,0,0
5,Yang Ming Marine Transport Corp.,0.119209,6676,0,0,0,6,0
6,DongThap Petroleum Transportations JSC,0.092698,6319,0,2,0,0,0
7,Comvex SA,0.085419,4363,0,1,0,0,0
8,Otto Marine Ltd,0.071439,8770,0,2,0,0,0
9,Swissco Holdings Ltd,0.067899,4529,0,0,0,2,0
10,Tianjin Port Co Ltd,0.064214,4164,0,1,0,0,0
11,StealthGas Inc.,0.063068,7444,0,0,0,3,0
12,Wilson Sons,0.063041,3812,0,1,0,0,0
13,Novorossiyskiy sudoremontnyi zavod OAO,0.050382,43424,0,2,0,2,5
14,Berlian Laju Tanker Tbk PT,0.050260,2793,0,0,0,1,0
15,"Hainan Airlines Co., Ltd.",0.044297,4708,0,1,0,0,0
16,Cargo Carriers,0.040142,14516,0,2,0,0,0
17,TAVS Kuban OAO,0.036532,37967,0,0,1,3,0
18,Gama Aviation PLC,0.036301,7641,0,1,0,0,0
19,Clarkson PLC,0.033583,12846,0,0,0,2,0
20,Teekay LNG Partners L.P.,0.033140,3974,0,0,0,1,0
21,Air Canada,0.017557,12938,0,0,0,0,1
22,Japan Airlines Co Ltd,0.014266,19676,0,1,0,0,0
23,J & Bach International Logistics Co Ltd,0.004591,143937,0,1,2,2,0

In [ ]:
pd.DataFrame(list(df[df['name'] == 'Vidavo SA']['order_list'])[0])

In [146]:
file.close()

In [5]:
df_output = df_show[showing_columns]
df_output.to_list()

AttributeError: 'DataFrame' object has no attribute 'to_list'